.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
console-client.o
console-socket.o
cscope.out
depcomp
install-sh
ltmain.sh
missing
obmc-console-client
obmc-console-server
obmc_console_server-config.o
obmc_console_server-console-server.o
obmc_console_server-console-socket.o
obmc_console_server-log-handler.o
obmc_console_server-ringbuffer.o
obmc_console_server-socket-handler.o
obmc_console_server-tty-handler.o
obmc_console_server-util.o
oe-logs
oe-workdir
stamp-h1
test-driver
test/*
!test/*.c
!test/*.h
util.o
x86_64-openbmc-linux-libtool
x86_64-libtool
