Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
cscope.out
depcomp
install-sh
ltmain.sh
missing
oe-logs
oe-workdir
test-driver
test/Makefile.in
