# For VUART devices, we can specify the LPC address and SIRQ parameters
lpc-address = 0x3f8
sirq = 4

# To mirror to a local tty device (typically a hardware UART), set local-tty
# local-tty = ttyS0

# To set up serial parameters, set the following keys
# local-tty-type = serial
# local-tty-baud = 115200
